<%= form_with(model: forecast, id: "#{dom_id(forecast)}_form") do |form| %>
  <% if forecast.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mb-6" style="border:1px solid red;">
      <h2 class="text-1xl font-bold ">Please fix the following errors:</h2>
      <ul>
        <% forecast.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="">
    <div class="col-span-full">
      <%= form.label :address, class: "sr-only" %>
      <div class="mt-2">
        <%= form.text_field :street, class: "block w-full rounded-md sm:text-sm border-gray-300", placeholder: "Street Address" %>
      </div>
    </div>

    <div class="sm:col-span-2 sm:col-start-1">
      <div class="mt-2 flex items-stretch flex-grow">
        <%= form.text_field :city, class: "block w-full rounded-none sm:text-sm rounded-l-md border-gray-300", placeholder: "City" %>
        <%= form.text_field :state, class: "block w-16 rounded-none sm:text-sm border-l-0 border-gray-300", placeholder: "State" %>
        <%= form.text_field :zip_code, class: "block w-full rounded-none sm:text-sm border-l-0 rounded-r-md border-gray-300", placeholder: "Zip" %>
      </div>
      <div class="mt-2 text-right">
        <%= form.submit "Submit", class: "-ml-px relative px-4 py-2 border border-blue-600 text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700" %>
      </div>
    </div>
  </div>
<% end %>